<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47005001598-eu4527mv4kj15u401qdp1ttu17ei3atg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47005001598-eu4527mv4kj15u401qdp1ttu17ei3atg</string>
	<key>API_KEY</key>
	<string>AIzaSyD5rK5yJLWzmuQoceWF_qjc8bbalPPBg3M</string>
	<key>GCM_SENDER_ID</key>
	<string>47005001598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.xylophone</string>
	<key>PROJECT_ID</key>
	<string>xylophone-7c8a3</string>
	<key>STORAGE_BUCKET</key>
	<string>xylophone-7c8a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47005001598:ios:930c79f78d7def5b46752f</string>
</dict>
</plist>